html {
  margin: 0;
  padding: 0
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body,
div#root,
div#root > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

ul {
  list-style: none;
  padding: 0;
}



.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App > * {
  flex-shrink: 0;
}

main {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  max-width: 480px;
}

ul {
  width: 100%;
}

a {
  text-decoration: none;
}
