.Input {
  position: relative;
  margin: 2vh 0;
}

.Input input,
.Input textarea,
.Input select {
  width: 96%;
  height: 42px;
  padding: 2%;
  font-size: 1.2em;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: #fff;
}
.Input select {
  height: 52px;
  width: 100%;
}