.Loader {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.Loader > i {
  color: #002633;
  animation: pulse 800ms linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}